@charset "UTF-8";

body {
  background-color: lightgrey;
  font-family: sans-serif;
}

.formulario {
  background-color: whitesmoke;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 1px 10px -5px rgb(0, 0, 0);
}

.formulario input:not([type="radio"]) {
  display: block;
  padding: 10px 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box; /* Considera padding e borda dentro da largura */
  border-radius: 3px;
}

.formulario button {
  display: block;
  padding: 8px 25px;
  background-color: lightskyblue;
  border: none;
  border-radius: 20px;
  color: white;
  margin: auto;
  margin-top: 20px;
}

.formulario button:hover {
  cursor: pointer;
  color: black;
}
