@charset "UTF-8";

main {
    font-family: sans-serif;
}

.card {
    width: 30%;
    margin: 50px auto;
    padding: 30px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px lightslategray;
}

.card h1 {
    color: cornflowerblue;
    font-weight: 300;
}

.card input {
    width: 80%;
    margin: 10px 0px;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.card button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    font-weight: 500;
}

.card button:hover {
    cursor: pointer;
    color: white;
    background-color: darkgray;
}