@charset "UTF-8";

* {
  font-family: sans-serif;
}

body {
  background-color: honeydew;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: lightslategray;
  margin-top: 80px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 25px;
  color: lightslategray;
  margin: 40px 0px 10px 0px;
  text-transform: uppercase;
}

.listPanel {
  text-align: center;
  margin-bottom: 30px;
}

input {
  border: 1px solid cornflowerblue;
  border-radius: 3px;
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  width: 20%;
  outline: none;
  margin-bottom: 10px;
}

button {
  border: none;
  border-radius: 3px;
  background-color: cornflowerblue;
  color: whitesmoke;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.tasks {
  background-color: white;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.tasks p {
  font-size: 15px;
  color: gray;
  margin: auto;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
}
